<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="input-group location-group">
            <input id="location" ng-model="forcast.location" class="form-control" name="location" placeholder="Location" type="text" value="" />
            <span class="input-group-btn">
                <button class="btn btn-default btn-primary" type="button" ng-click="forcast.findWeather()">Get Forcast</button>
            </span>
        </div>
        <input type="hidden" id="unit" name="unit" value="forcast.tempUnits" />        
    </div>
</div>

<div class="row" ng-show="forcast.show">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="dailyForcast panel">
            <div class="panel-heading">
                <h3 class="location panel-title">
                    {{forcast.data.name}} <small>(Today)</small>
                    <div class="btn-group unit" role="group">
                        <button type="button" class="btn btn-default" ng-class="forcast.FarenheightClass" data-unit="f" ng-click="forcast.toggleUnits('f')">&deg;F</button>
                        <button type="button" class="btn btn-default" ng-class="forcast.CelciusClass" data-unit="c" ng-click="forcast.toggleUnits('c')">&deg;C</button>
                    </div>
                </h3>                
            </div>
            <div class="panel-body">                
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <h4 class="time">{{forcast.data.date | date : 'EEEE h:mm a'}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <p class="description">{{forcast.data.weather[0].description}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-xs-12">
                            <i class="icon owf owf-{{forcast.data.weather[0].id}}-{{forcast.data.timeOfDay}}" tooltip="{{forcast.data.weather[0].description}}"></i>
                            <span class="current">
                                {{forcast.data.main.temp | number:0}}
                                <span class="unit">&deg;{{forcast.data.units.symbol}}</span>
                            </span>                            
                        </div>
                        <div class="details col-lg-9 col-md-9 col-xs-12">
                            <div class="precip" title="Precipitation">
                                <label>Precipitation</label>
                                {{forcast.data.precipitation.value | number:0}} {{forcast.data.units.precip}}
                            </div>
                            <div class="humid" title="humidity">
                                <label>Humidity</label>
                                {{forcast.data.main.humidity | number:0}}{{forcast.data.units.humidity}}
                            </div>
                            <div class="wind" title="Wind">
                                <label>Wind</label>
                                {{forcast.data.wind.speed | number:0}} {{forcast.data.units.wind}}
                            </div>
                        </div>
                    </div>                    
                        
                    <div  class="row hidden-xs">
                        <div class="col-lg-3 col-md-3 hidden-xs">
                        </div>
                        <div class="col-lg-9 col-md-9 col-xs-12"> 
                            <span class="min" title="Minimum">
                                <label>Min</label>
                                <span class="min">
                                    {{forcast.data.main.temp_min | number:0}}
                                    <span class="unit">&deg;{{forcast.data.units.symbol}}</span>
                                </span>                
                            </span>
                            <span class="max" title="Maximum">
                                <label>Max</label>
                                <span class="max">
                                    {{forcast.data.main.temp_max | number:0}}
                                    <span class="unit">&deg;{{forcast.data.units.symbol}}</span>
                                </span>
                            </span>
                        </div>                            
                    </div>
                </div>                        
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="forcast.show">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="dailyForcast panel">
            <div class="panel-heading">
                <h3 class="location panel-title">{{forcast.city.name}}</h3>
            </div>
            <div class="panel-body">
                <div class="row weeklyWeather">                    
                    <div ng-repeat="fcast in forcast.weeklyForcast track by $index" class="weatherSet col-lg-2 col-md-2">
                        <weather-tile weather-model="fcast" weather-units="vm.units"></weather-tile>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>